@{
    ViewData["Title"] = "Laboratório Eng. de Software";
}

<br />
<h2 >Informações do Projeto</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Instituição
        </dt>
        <dd class="col-sm-10">
            Fatec Presidente Prudente
        </dd>
        <dt class="col-sm-2">
            Disciplina
        </dt>
        <dd class="col-sm-10">
            Laboratório de Engenharia de Software
        </dd>
        <dt class="col-sm-2">
            Professora
        </dt>
        <dd class="col-sm-10">
            Vanessa dos Anjos Borges
        </dd>
        <dt class="col-sm-2">
            Aluno
        </dt>
        <dd class="col-sm-10">
            Abner Jácomo Pelisser
        </dd>
    </dl>
</div>
